<html>
  <head>
    <title>Cuadrados</title>
    <meta name="description" content="Specifying different planes for box layout"></meta>
    <meta property="og:image" content="https://ugc.kn3.net/i/760x/https://uproxx.files.wordpress.com/2013/03/bender13.gif?w=650"></meta>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="../../../dist/aframe-master.js"></script>
    <script src="https://unpkg.com/aframe-entity-generator-component@3.0.1/dist/aframe-entity-generator-component.min.js"></script>
    <script src="../../dist/aframe-layout-component.min.js"></script>
  </head>
  <body>
    <a-scene>
      
      <a-assets>
        <a-mixin id="cube" geometry="primitive: box; depth: 0.5; height: 0.5; width: 0.5"></a-mixin>
        <a-mixin id="c1" material="color: #FFB400"></a-mixin>
        <a-mixin id="c2" material="color: #B4FF00"></a-mixin>
        <a-mixin id="c3" material="color: #00B4FF"></a-mixin>
      </a-assets>

      <a-entity position="0 0 -5">
        <a-entity entity-generator="mixin: cube c1; num: 9"
                  layout="type: box; columns: 3; margin: 1; plane: xy"></a-entity>
        <a-entity entity-generator="mixin: cube c2; num: 9"
                  layout="type: box; columns: 3; margin: 1; plane: yz"></a-entity>
        <a-entity entity-generator="mixin: cube c3; num: 9"
                  layout="type: box; columns: 3; margin: 1; plane: xz"></a-entity>
      </a-entity>

      <a-entity geometry="primitive: sphere; radius: 1000"
                material="color: #2994B2; shader: flat" scale="1 1 -1">
      </a-entity>
    </a-scene>

    <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
    </style>
    <!--endgithubcorner-->
  </body>
</html>
