<html>
  <head>
    <title>Dados Giratorios</title>
    <meta name="description" content="Circular layout of boxes"></meta>
    <meta property="og:image" content="https://raw.githubusercontent.com/ngokevin/kframe/master/components/layout/examples/circle/preview.png"></meta>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="../../dist/aframe-layout-component.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <a-mixin id="cube" geometry="primitive: box; depth: 1; height: 1; width: 1"
                 material="color: #FFFBE0">
        </a-mixin>
        <a-mixin id="secondary" material="color: #FFB400"></a-mixin>
      </a-assets>

      <a-entity geometry="primitive: sphere; radius: 1000"
                material="color: #2994B2; shader: flat" scale="1 1 -1">
      </a-entity>

      <a-entity layout="type: circle; radius: 2.5" position="0 0 -5">
        <a-animation attribute="rotation" dur="5000" easing="linear"
                     repeat="indefinite" to="0 360 360">
        </a-animation>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
        <a-entity mixin="cube"></a-entity>
      </a-entity>

      <a-entity layout="type: circle; radius: 3" position="0 0 -5">
        <a-animation attribute="rotation" dur="5000" easing="linear"
                     repeat="indefinite" to="360 0 360">
        </a-animation>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
        <a-entity mixin="cube secondary"></a-entity>
      </a-entity>
    </a-scene>

    <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
    </style>
    <!--endgithubcorner-->
  </body>
</html>
